services:
  sonarqube:
    image: sonarqube:community
    container_name: goleador_sonar
    ports:
      - "9000:9000"
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://sonar_db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_logs:/opt/sonarqube/logs
    depends_on:
      - sonar_db
    networks:
      - goleador_net

  sonar_db:
    image: postgres:15
    container_name: goleador_sonar_db
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonar
    volumes:
      - sonar_db_data:/var/lib/postgresql/data
    networks:
      - goleador_net

networks:
  goleador_net:
    driver: bridge

volumes:
  sonar_data:
  sonar_extensions:
  sonar_logs:
  sonar_db_data:
