@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;
	--background: #ffffff;
	--foreground: #1e1e1e;
	--card: #ffffff;
	--card-foreground: #1e1e1e;
	--popover: #ffffff;
	--popover-foreground: #1e1e1e;
	--primary: #011e41;
	--primary-foreground: #fafafa;
	--secondary: #e4e8ed;
	--secondary-foreground: #042d58;
	--muted: #f4f6f9;
	--muted-foreground: #808080;
	--accent: #17ff88;
	--accent-foreground: #011e41;
	--destructive: #f25959;
	--border: #b1b1b1;
	--input: #b1b1b1;
	--ring: #011e41;
	--chart-1: #011e41;
	--chart-2: #153f70;
	--chart-3: #17ff88;
	--chart-4: #3093ef;
	--chart-5: #00df6d;
	--sidebar: #f4f6f9;
	--sidebar-foreground: #042d58;
	--sidebar-primary: #011e41;
	--sidebar-primary-foreground: #fafafa;
	--sidebar-accent: #e4e8ed;
	--sidebar-accent-foreground: #042d58;
	--sidebar-border: #b1b1b1;
	--sidebar-ring: #3093ef;
}

.dark {
	--background: #011e41;
	--foreground: #fafafa;
	--card: #153f70;
	--card-foreground: #fafafa;
	--popover: #011e41;
	--popover-foreground: #fafafa;
	--primary: #17ff88;
	--primary-foreground: #011e41;
	--secondary: #042d58;
	--secondary-foreground: #c9c9c9;
	--muted: #042d58;
	--muted-foreground: #989898;
	--accent: #153f70;
	--accent-foreground: #17ff88;
	--destructive: #f25959;
	--border: #686868;
	--input: #686868;
	--ring: #17ff88;
	--chart-1: #17ff88;
	--chart-2: #3093ef;
	--chart-3: #47c187;
	--chart-4: #59a9f2;
	--chart-5: #153f70;
	--sidebar: #011e41;
	--sidebar-foreground: #c9c9c9;
	--sidebar-primary: #17ff88;
	--sidebar-primary-foreground: #011e41;
	--sidebar-accent: #153f70;
	--sidebar-accent-foreground: #fafafa;
	--sidebar-border: #686868;
	--sidebar-ring: #17ff88;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
